{% extends "base.html" %}

{% block content %}
  <div class="container pt-3">
    <div class="card">
      <div class="card-header">
        <h1>
          Записи группы {{ group.title }}
        </h1>
      </div>
      <div class="card-body">
        <p>
          {{ group.description }}
        </p>
      </div>
    </div>
  </div>

  {% for i in page_obj %}
    <!-- сначала курс говорит рефактори покрасивше -->
    <!-- потом пайтест говорит верни цикл в шаблон -->
    <!-- почему-то только в этот. настоящий цикл в -->
    <!-- templates/posts/includes/posts_cycle.html -->
  {% endfor %}

  {% include 'posts/includes/posts_cycle.html' %}

  {% include 'posts/includes/paginator.html' %}

{% endblock %} 