{% extends "base.html" %}

{% block content %}

<div class="container pt-3">
  <div class="card">
    <div class="card-header">
      <h1>
        Все посты пользователя {{ author.get_full_name }}
      </h1>
      
    </div>
    <div class="card-body d-flex justify-content-between">
      <h3 class="pt-2">
        Всего постов: {{ post_list.count }}
        Всего подписчиков: {{ subscribers }}
      </h3>
      {% include 'posts/includes/subscribe_btn.html' %}
    </div>
  </div>
</div>

{% include 'posts/includes/posts_cycle.html' %}
{% include 'posts/includes/paginator.html' %}
{% endblock %} 